.box{
    background-color: #6c757d;
    border-style: solid;
    border-color: #0056b3;
    color: white;
    margin: 10px;
    height: 126px;
    width: 126px;
}

#forecastContainer{
    visibility: hidden;
}